li
{
    background-color: rgb(12, 128, 243)
   
}
a{
    color: rgb(216, 209, 199);
    
}
h2
{
    position: relative;
    bottom: -45px;
    right : -400px;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder
   
 
}
h1{
    font-size: 80px;
    position: relative;
    top : 20px;
    right: -400px;
}
p{
    position: relative;
    right: -450px;
    bottom: -15px;
    font-size: 22px;

}
s{
    position: relative;
    right: -630px;
    bottom: -30px;
}
b{
    font-size: 30px ;
    position: relative;
    right: -595px;
    bottom: +20px;
}

