li
{
    background-color: rgb(88, 93, 97)
   
}
a{
    color: rgb(216, 209, 199);
}
h2
{
    position: relative;
    bottom: 0px;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder
   
 
}
h1{
    font-size: 73px;
    position: relative;
    top : 20px;
}
p{
    position: relative;
    right: -60px;
    bottom: -30px;
}
s{
    position: relative;
    right: -120px;
    bottom: -10px;
}

